#red{
    background: red;
    width: 20px;
}
#blue{
    background: blue;
    width: 20px;
}
#green{
    background: green;
    width: 20px;
}
#brown{
    background: brown;
    width: 20px;
}
#black{
    background: black;
    width: 20px;
}

button{
    width: 30px;
    height: 30px;
}
.brush{
    border-radius: 50%;
    background-color: black;
}
#smallBrush{
    width: 5px;
    height: 15px;
}
#bigBrush{
    height: 30px;
    width: 30px;
}
#mediumBrush{
    width: 20px;
    height: 20px;
}
.color, .size{
    border: thick double black;
    color: black;
    width: 100px;
}