#red{
    background: red;
    widows: 20px;
    height: 20px;
}
#blue{
    background: blue;
    widows: 20px;
    height: 20px;
}
#green{
    background: green;
    widows: 20px;
    height: 20px;
}
#yellow{
    background: yellow;
    widows: 20px;
    height: 20px;
}
#black{
    background: black;
    widows: 20px;
    height: 20px;
}
#brown{
    background: brown;
    widows: 20px;
    height: 20px;
}
#white{
    background: white;
    widows: 20px;
    height: 20px;
}
